@media (max-width: 480px) {
    body {
        background-image: url('../assets/mountains_500.jpg');
        background-size: cover;
    }
}
@media (min-width: 481px) and (max-width: 1024px) {
    body {
        background-image: url('../assets/mountains_1025.jpg');
        background-size: cover;
    }
}
@media (min-width: 1025px) {
    body {
        background-image: url('../assets/mountains_2000.jpg');
        background-size: cover;
    }
}

h1 {
    font-size: 3em;
    font-family: "Zilla Slab", serif;
    font-weight: 600;
    font-style: normal;
}
h2 {
    font-size: 2.75em;
    font-family: "Zilla Slab", serif;
    font-weight: 600;
    font-style: normal;
}
p {
    font-size: 1em;
    font-family: "Roto Mono", monospace;
}
.box_bg {
    background-color: rgba(240, 248, 255,.75);
    border-radius: 5px;
    border-color: grey;
    border-style: solid;
}
.shadow {
    color: #fff;
    text-shadow:
        1px 1px 0px #000,
        -1px 1px 0px #000,
        -1px -1px 0 #000,
        1px -1px 0 #000; 
    letter-spacing: .1em;
    background: rgba(255, 255, 255, 0);
    

}
.round {
    border-top: 8px solid black;
    border-radius: .5em;
}

.fa {
    padding: .5em;
    margin: .25em;
    width: 3em;
    text-align: center;
    text-decoration: none;
    color:#000;
    border: solid;
    border-radius: .5em;
  }
  .fa:hover {
    opacity: 0.7;
    color:whitesmoke;
  }
  .grad {
    background-image: linear-gradient(black, slategray);
    opacity: .9;
  }
  .grad2 {
    background-image: linear-gradient(slategray, black);
    opacity: .9;
  }

.roboto-mono {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
}
.zilla-slab-medium {
    font-family: "Zilla Slab", serif;
    font-weight: 500;
    font-style: normal;
}
  
.zilla-slab-semibold {
    font-family: "Zilla Slab", serif;
    font-weight: 600;
    font-style: normal;
}
  
.zilla-slab-bold {
    font-family: "Zilla Slab", serif;
    font-weight: 700;
    font-style: normal;
}
.white {
    color: whitesmoke;
}
.offwite {
    background-color: rgb(204, 204, 204)
}
  
.btn-sub{
    --bs-btn-color: #fff;
    --bs-btn-bg: slategray;
    --bs-btn-border-color: slategray;
    --bs-btn-hover-color: slategray;
    --bs-btn-hover-bg: whitesmoke;
    --bs-btn-hover-border-color: slategray;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: slategray;
    --bs-btn-active-border-color: slategray;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: slategray;
    --bs-btn-disabled-border-color: slategray;
}
.justify {
    text-align: justify;
}
.divider {
    border-bottom: 1px dashed rgb(28,49,68,.8);
    padding: 10px 0 5px 0;
    margin-bottom: 25px;
}
.education h2 {
        font-size: 1.75em;
}
.contact h2 {
    font-size: 1.75em;
}
.education h3 {
    font-size: 1.25em;
}
.contact a {
    text-decoration: none;
}

.project:hover {
    opacity: .9;
    border: dashed;
    border-color: black;
    border-width: 3px;
    border-radius: 5px;
    padding: 0;
}


